.itemModal {
  position: fixed;
  background: rgba(0, 0, 0, 0.541);
  height: 100%;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 83%;
  margin: 10%;
  position: relative;
}
.imageBox {
  background: #fff;
  img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
  }
}
.detailBox {
  background: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid lightgray;
}
.title {
  font-size: x-large;
  font-weight: bold;
}
.subtitle {
  font-size: medium;
  color: grey;
}
.back {
  background: rgba(0, 0, 0, 0.507);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: 100px;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.767);
  }
}
.priceBox {
  display: flex;
  align-items: center;
  margin: 5px;
  * {
    padding: 5px;
  }
}
.price {
  font-weight: bold;
  font-size: x-large;
}
.total {
  color: grey;
  font-size: large;
  text-decoration: line-through;
}
.discount {
  color: tomato;
  font-size: medium;
  font-weight: bold;
}
.rating {
  margin: 0 10px;
  strong {
    padding: 5px;
  }
}
.g {
  color: #1faa59;
}
.r {
  color: #d82e2f;
}
.y {
  color: #a77b06;
}
.infoBox {
  margin: 10px;
  * {
    padding: 3px 0px;
  }
  *:last-child {
    text-align: justify;
    text-justify: inter-word;
  }
}
.footer {
  position: absolute;
  bottom: 10px;
  align-items: flex-end;
  right: 10px;
  left: 50%;
}

.sizes {
  span {
    font-weight: bold;
    font-size: large;
    padding: 5px;
  }
  &-options {
    margin: 10px;
    display: flex;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      height: 50px;
      width: 50px;
      margin-right: 10px;
      border: 2px solid lightgrey;
      cursor: pointer;
      &:hover {
        border: 2px solid tomato;
        color: tomato;
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  * {
    margin: 10px;
  }
}
.btn div {
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #1b98f5;
  padding: 10px 20px;
  width: 250px;
  color: #1b98f5;
  cursor: pointer;
  &:hover {
    background: #1b98f5;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
  }
  &:active {
    background: #1173be;
  }
}
